.cache/
.github/
node_modules/
plugin-examples/
.husky/
src/
.eslintrc.js
.prettierrc.js
.eslintignore
.prettierignore
docs/
.all-contributorsrc
.gitignore
CODE_OF_CONDUCT.md
CONTRIBUTING.md
rollup.config.plugins.js
/tsconfig.json
/tsconfig.electron.json
/tsconfig.plugins.json
deployChangeLog.sh
CHANGELOG.md
tsconfig.cli-scripts.json
tsconfig.runtime.json
changelog.config.js
template/